<div class="modal fade" id="adjust-dates-modal" tabindex="-1"
  aria-labelledby="adjust-dates-label">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="<%= t(:cancel) %>">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="adjust-dates-label">
          <%= t("loan.adjust_scheduled_dates") %>
        </h4>
      </div>
      <div class="modal-body">
        <span><%= t("loan.move_dates") %></span>

        <div class="btn-group-vertical button-group-radios" data-toggle="buttons"
        aria-label=<%= t("loan.move_date_direction") %>>
          <label class="btn btn-default">
            <input type="radio" name="time_direction" id="time-forward"
              value="forward">
            <span>
              <%= t("loan.forward") %>
            </span>
          </label>
          <label class="btn btn-default">
            <input type="radio" name="time_direction" id="time-backward"
              value="backward">
            <span>
              <%= t("loan.backward") %>
            </span>
          </label>
        </div>

        <input type="number" min="1" max="365" name="num_of_days" />

        <span>days</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t(:cancel) %>
        </button>
        <a id="adjust-dates-confirm" data-method-key="PATCH"
          data-action-key="/project_steps/adjust_dates"
          class="btn btn-primary action">
          <%= t("loan.adjust_dates") %>
        </a>
      </div>
    </div>
  </div>
</div>
