<ul class="dropdown-menu batch-actions">
  <li>
    <a id="delete-selected" data-method-key="DELETE" data-action-key="/project_steps/" data-confirm="<%= t("project_step.batch_delete_confirm") %>" data-confirm-cancel="<%= t(:cancel) %>" data-confirm-proceed="<%= t(:confirm) %>" class="action batch-action">
      <%= t("loan.delete_selected") %>
    </a>
  </li>

  <li>
    <a id="adjust-dates" href="#" class="action" data-toggle="modal" data-target="#adjust-dates-modal">
      <%= t("loan.adjust_dates") %>
    </a>
  </li>

  <li class="action">
    <a id="finalize" data-method-key="PATCH" data-action-key="/project_steps/finalize" data-confirm="<%= t("project_step.batch_finalize_confirm") %>" data-confirm-cancel="<%= t(:cancel) %>" data-confirm-proceed="<%= t(:confirm) %>" class="action batch-action">
      <%= t("loan.finalize") %>
    </a>
  </li>
</ul>

<%= render "admin/loans/timeline/batch/adjust_dates_modal" %>
