<li class="action">
  <a id="delete-selected" data-method-key="DELETE" data-action-key="/project_steps/" data-confirm="<%= t("project_step.batch_delete_confirm") %>" data-confirm-cancel="<%= t(:cancel) %>" data-confirm-proceed="<%= t(:confirm) %>">
    <%= t("loan.delete_selected") %>
  </a>
</li>

<li class="action">
  <a id="adjust-dates" data-method-key="PATCH" data-action-key="/project_steps/adjust_dates">
    <%= t("loan.adjust_dates") %>
  </a>
</li>

<li class="action">
  <a id="finalize" data-method-key="PATCH" data-action-key="/project_steps/finalize" data-confirm="<%= t("project_step.batch_finalize_confirm") %>" data-confirm-cancel="<%= t(:cancel) %>" data-confirm-proceed="<%= t(:confirm) %>">
    <%= t("loan.finalize") %>
  </a>
</li>

