<ul class="dropdown-menu batch-actions">
  <li>
    <a data-method-key="PATCH"
      data-action-key="/admin/project_steps/batch_destroy"
      data-confirm="<%= t("project_step.batch_delete_confirm") %>"
      class="action batch-action">
      <%= t("loan.delete_selected") %>
    </a>
  </li>

  <li>
    <a class="action adjust-dates" data-toggle="modal" data-target="#adjust-dates">
      <%= t("loan.adjust_dates") %>
    </a>
  </li>

  <li>
    <a data-method-key="PATCH"
      data-action-key="/admin/project_steps/finalize"
      data-confirm="<%= t("project_step.batch_finalize_confirm") %>"
      class="action batch-action">
      <%= t("loan.finalize") %>
    </a>
  </li>
</ul>

<%= render "admin/timeline/adjust_dates_modal" %>
